---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<!--
<div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-1">
<div class="resume"> <!--tex4ht:inline--><div class="tabular"> <table id="TBL-1" class="tabular" 
cellspacing="0" cellpadding="0"  
><colgroup id="TBL-1-1g"><col 
id="TBL-1-1"></colgroup><tr  
 style="vertical-align:baseline;" id="TBL-1-1-"><td  style="white-space:nowrap; text-align:left;" id="TBL-1-1-1"  
class="td00"><span 
class="cmbx-12">RESUME</span>&#x00A0;</td></tr></table>                                                                                                                                        </div>
<table class="center-addresses"><tr><td class="first-address"><!--tex4ht:inline--><div class="tabular"> <table id="TBL-2" class="tabular" 
cellspacing="0" cellpadding="0"  
><colgroup id="TBL-2-1g"><col 
id="TBL-2-1"></colgroup><tr  
 style="vertical-align:baseline;" id="TBL-2-1-"><td  style="white-space:nowrap; text-align:left;" id="TBL-2-1-1"  
class="td00">Website: <a 
href="https://mengdong.github.io" >mengdong.github.io(link)</a>  &#x00A0;</td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-2-2-"><td  style="white-space:nowrap; text-align:left;" id="TBL-2-2-1"  
class="td00">Seasoned Data Scientist Professional&#x00A0;</td></tr><tr  
 style="vertical-align:baseline;" id="TBL-2-3-"><td  style="white-space:nowrap; text-align:left;" id="TBL-2-3-1"  
class="td00">San Jose, CA &#x00A0;</td>
</tr></table>                                                                                                                                                                   </div></td><td class="second-address"><!--tex4ht:inline--><div class="tabular"> <table id="TBL-3" class="tabular" 
cellspacing="0" cellpadding="0"  
><colgroup id="TBL-3-1g"><col 
id="TBL-3-1"></colgroup><tr  
 style="vertical-align:baseline;" id="TBL-3-1-"><td  style="white-space:nowrap; text-align:left;" id="TBL-3-1-1"  
class="td00"><span 
class="cmbx-10">Contact                           </span>&#x00A0;</td></tr><tr  
 style="vertical-align:baseline;" id="TBL-3-2-"><td  style="white-space:nowrap; text-align:left;" id="TBL-3-2-1"  
class="td00">Email:see bottom of page&#x00A0;</td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-3-3-"><td  style="white-space:nowrap; text-align:left;" id="TBL-3-3-1"  
class="td00">Phone:see bottom of page&#x00A0;</td></tr></table>                                                                                                                  </div></td></tr></table>
<table class="section"><tr><td class="section">
<a 
 id="x1-10000"></a>Qualification</td><td class="section-body">
       <ul class="itemize1">
       <li class="itemize">Currently  design  and  implement  client  facing  big  data  Data  Science  solution  with  MapR
       technologies. Previously worked as full stack Data Scientist at ADP for 1<span 
class="cmmi-10">.</span>5 year on workforce
       and human capital management predictive analytics. Plus 2 years development experience and
       leadership training with IBM, SPSS. Prior to that, in academia, I have 2 years research experience in graduate school
       of OSU focus on Compressive Sensing and Probabilistic Models
       </li>
       <li class="itemize">My interest is to connect the dot between big data technolgy, data science and machine learning, not only to tell
       stories from data but to make data science actionable.</li></ul>
</td></tr></table>
<table class="section"><tr><td class="section">
<a 
 id="x1-20000"></a>Skills</td><td class="section-body">
<!--l. 43--><p class="noindent" >Analytical: Spark/MLlib/GraphX/Streaming, Python(XGBoost, MXnet, Keras, Numpy, Scipy, Pandas,
Sklearn, Jupyter), Matlab(signal processing, large sparse matrix computation), R , SPSS(modeler), Vowpal
Wabbit<br 
class="newline" />Programming: Python, Scala(Spark), Pig, Hive, Java, JavaScript(d3.js), C, Impala, Drill<br 
class="newline" />Other Technologies: Linux, MapRFS/Yarn/HDFS, Hbase, OpenTSDB, Neo4j<br 
class="newline" />Word Editing: Latex, Excel, PowerPoint, Office Word
</td></tr></table>
<table class="section"><tr><td class="section">
<a 
 id="x1-30000"></a>Working Experience</td><td class="section-body">
<!--l. 52--><p class="noindent" ><span 
class="cmbx-10">Data Scientist</span>, MapR Technologies, San jose, CA                                                     (08/2015 -
Now)
       <ul class="itemize1">
       <li class="itemize">Apply technologies in Hadoop eco-system to design data science production solution for customers in different verticals. 
       </li>
       </ul>
                                                                                                                                                        
                                                                                                                                                        <!--l. 72--><p class="noindent" ><span 
class="cmbx-10">Senior/Lead Data Scientist</span>, ADP, Roseland, NJ (11/2014-08/2015)
                  <br 
class="newline" /><span 
class="cmbx-10">Data Scientist Consultant</span>, ADP, Roseland, NJ                                             (4/2014-11/2014)
                       <ul class="itemize1">
                       <li class="itemize">Work on compensation benchmark and drive several machine learning projects to power ADP
                       Analytics in data research team. Build the data science process on workforce analytics and client
                       knowledge structure from ground zero.
                       </li>
                       </ul>
                  <!--l. 101--><p class="noindent" ><span 
class="cmbx-10">Staff Software Engineer</span>, Emerging Leader for Global Market,<br 
class="newline" />SPSS, a IBM company, Chicago, IL                                                               (07/2012-04/2014)
                       <ul class="itemize1">
                       <li class="itemize">Model validation, statistics, development
                       </li>
                       </ul>
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-40000"></a>Research Experience</td><td class="section-body">
                  <!--l. 115--><p class="noindent" ><span 
class="cmbx-10">Research Assistant</span>, IPS LAB, ECE Department of OSU, Columbus, OH           (09/2010-07/2012)
                       <ul class="itemize1">
                       <li class="itemize">Concentrate in Compressive Sensing, Machine Learning problems from a bayesian perspective.
                       Theoretical background is build on Donoho&#8217;s AMP compressive sensing algorithm.
                       </li>
                       <li class="itemize">Model  and  recover  large  sparse  Channel  data  with  Probabilistic  Graphical  Model,  using
                       Gaussian-Bernoulli distribution to model the channel tap, and using Markov Chain to capture
                                                                                                                                                        
                                                                                                                                                        the rapid channel temporal change. And apply Brief Propagation and Expectation Maximization
                       to infer the information to recover the channel as well as the transmitted signal.
                       </li>
                       <li class="itemize">Design an ODFM-LDPC receiver with basis expansion for underwater communication system,
                       error rate and speed outperform many current state of art algorithms like Lasso (basic pursuit),
                       OMP (orthogonal matching pursuit)</li></ul>
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-50000"></a>Education</td><td class="section-body">
                  <!--l. 129--><p class="noindent" ><span 
class="cmbx-10">Master of Science, Department of Electrical and Computer Engineering                 </span>GPA
                  3.9/4.0<br 
class="newline" />PhD track coursework<br 
class="newline" />Thesis: <span 
class="cmti-10">Approximate Message passing for Multi-Carrier Transmission over Doubly Selective Channels</span>
                  <br 
class="newline" />The Ohio State University, (Concentrate in Compressive Sensing, Statistics)  Graduated: August 2012
                  <br 
class="newline" /><br 
class="newline" /><span 
class="cmbx-10">Bachelor of Science, Graduate with Honor in Electrical Engineering           </span>GPA 86.7/100
                  <br 
class="newline" />Xidian University, (Concentrate in Telecommunication/Signal processing)                Graduated: July
                  2010
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-60000"></a>Projects</td><td class="section-body">
                       <ul class="itemize1">
                       <li class="itemize">Various <a 
href="https://www.kaggle.com/koalaking" >Kaggle Competitions(link)</a>                                                                   (2014-now)
                       </li>
                       <li class="itemize"> A recommandation machine that predict stock trend with twitters feeds                       (2014)
                       </li>
                       <li class="itemize"> Data mining and visualization design on high dimensional structured data from air pollution
                       monitoring, a spectral clustering appoarch                                                               (2013)
                       </li>
                       <li class="itemize"> Data mining and prediction on 2013 NCAA march madness, logistic regression appoarch (2013)</li></ul>
                  </td></tr></table>
                  </div>  
        </div>
    </div>
</div>

<hr>

-->
